:root{
    --primary-color:#3b9bd3;
    --bodyClr:#090925;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bodyClr);
}

/* utils */
.hidden_element{
    display: none !important;
    opacity: 0 !important;
    z-index: -1999 !important;
}

.ygency-sticky.ygency-sticky-active{
    display: none !important;
    opacity: 0 !important;
    position: absolute;
}

.white_color{
    color: white !important;
}

.light_effect{
    left: var(--left);
    top: var(--top);
    box-shadow: 0px 4px 97px 136px #11213FA8;
    border-radius: 100%;
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #11213FA8;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    z-index: 0;
}

.e-con-inner{
    z-index: 10;
    position: relative;
}

.bg_red{
    background-color: red !important;
}

.text_gradient{ 
  background: linear-gradient(93.66deg, #004DE4 -23.12%, #02C1FF 98.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}

.box_glass{
    border: 1px solid #FFFFFF26;
    background-color: #2d5d8a3f; 
}

/* styling */
/* hero */
.icon_hero{
    position: absolute;
    right: 10%;
    top: 30%;
    width: 300px;
    height: auto;
    border-radius: 100%;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.icon_hero img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    opacity: .7;
}

/* plan */
.ygency-team-member{
    max-width: 300px;
}

.plan_container .arrow img{
    position: relative;
    width: 70px;
    height: auto;
    object-fit: contain;
}

/* plan */
.plan_container{
    width: 100%;
    max-width: 1780px;
    height: auto;
    position: relative;
    z-index: 10;
    background-color: var(--bodyClr);

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.plan_container .ygency-section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan_container .content{
    width: 100%;
    position: relative;
    height: auto;

    display: flex; 
    align-items: center;
    justify-content: center;

    gap: 2rem;
    padding: 0 3rem;
    margin-top: 3rem; 
    z-index: 10;
}

.plan_container .content .column{
    width: 450px;
    border: 1px solid #FFFFFF26;
    background-color: #20598D29;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    padding: 1rem;
    gap: 3rem;

    overflow: hidden;
    position: relative;
    z-index: 10;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} 

.plan_container .content .column::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -50px;
    z-index: 0;
    border-radius: 100%;
    background-color: #334C89E0;
    box-shadow: 0px -3px 61px 100px #334b89e0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.plan_container .content .column::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -50px;
    z-index: 0;
    border-radius: 100%;
    background-color: #11213FA8;
    box-shadow: 0px -3px 61px 100px #11263fb6;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
 

.plan_container .content .column .about_plan{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    position: relative;
    z-index: 10;
}

.plan_container .title_plan{
    display: flex;
    align-items: center;  
    width:95%;
    gap: 1rem;
}

.plan_container .title_plan h3{
    margin: 0; 
}
 
.title_plan span{
    width: 30px;
    height: 4px;
    background-color: var(--primary-color);
}

.about_plan p{
    width: 100%;
    max-width: 90%;
}

.plan_container .ygency-button{
    /* background-color: var(--primary-color); */
    background: linear-gradient(90deg, #0069EA 0%, #03C7F7 100%);
    
}


.counter{
    display: flex;
    justify-content: start;
    align-items: center;
}

/* footer */
.total{
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 3rem;
    padding-bottom: 3rem;
    background-color: var(--bodyClr);
}

.content_total{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 5rem; 
}

.content_total .impresi{
    gap:2rem;
}

.content_total .container_total{
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 150px;
    min-width: 150px;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
 

.content_total .impresi{
    flex-direction: row;
}

.content_total h2{
    font-size: 36px;
    margin: 0;
}

.content_total p{
    font-size: 18px;
    margin: 0;
}

.total_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.total_btns .active_btn{
    /* background-color: var(--primary-color); */
}

.total_btns .active_btn:hover .white_color{ 
    color: black !important;
}

.total_btns .ygency-button-wrapper a{
    width: 260px;  
}

.total_btns .ygency-button-wrapper.active_btn a{
    background: var(--bodyClr) !important;
    border: #0069EA 1px solid;
}


@media screen and (max-width:1023px) { 

    /* hero */
    .icon_hero{
        position: relative;
        right: auto;
        width: 40%;
        margin: 0 auto 2rem;
    }

    /* plan */
    .plan_container .title .main-text{
        font-size: 50px;
    }

    .plan_container .content{ 
        flex-direction: column;
        padding: 1rem;
        gap: 4rem;
    }
 
    .arrow{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}
     
}

@media screen and (max-width:600px) {

    .navbar_container{
        padding: 0 !important;
    }
    /* hero */
    .slider-container .slider-content{
        text-align: center;
    }


    .slider-container .slider-button-wrapper {
        display: flex;
        justify-content: center;
        
    }

    /* plan */
    .plan_container .content{ 
        gap: 2rem;
    }

    .plan_container .content .column{
        width: 90%;
    }

    /* about */
    .ygency-team-members{
        width: 100%;
        padding: 0;
        grid-column-gap: 0px !important;
    }
 
    .elementor-5843 .title{
        text-align: center;
        width: 100%;
    }

    .elementor-5843 .elementor-element.elementor-element-f4c7460 .ygency-team-member .member-image{
        width: 100% !important;
        object-fit: cover;
    }

    .ygency-team-member{
        width: 90%;
    }

    /* blog */
    .blog_title{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100%;
    }

    .content_total{
        gap: 1rem;
        padding: 0rem 1rem;
    }
}