@font-face {
	font-family: 'flaticon';
	src: url('flaticon/flaticon.ttf') format('truetype'), url('flaticon/flaticon.woff') format('woff'), url('flaticon/flaticon.woff2') format('woff2'), url('flaticon/flaticon.eot') format('embedded-opentype'), url('flaticon/flaticon.html') format('svg');
}

.flaticon {
	font-family: flaticon;
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

.flaticon-star:before {
	content: "\f101";
}

.flaticon-right-quote:before {
	content: "\f102";
}

.flaticon-quote:before {
	content: "\f103";
}

.flaticon-robot-arm:before {
	content: "\f104";
}

.flaticon-engineering:before {
	content: "\f105";
}

.flaticon-ai:before {
	content: "\f106";
}

.flaticon-star-symbol:before {
	content: "\f107";
}

.flaticon-development:before {
	content: "\f108";
}

.flaticon-mobile-development:before {
	content: "\f109";
}

.flaticon-branding:before {
	content: "\f10a";
}

.flaticon-brainstorming:before {
	content: "\f10b";
}

.flaticon-ux:before {
	content: "\f10c";
}

.flaticon-optimization:before {
	content: "\f10d";
}

.flaticon-goal:before {
	content: "\f10e";
}

.flaticon-abstract:before {
	content: "\f10f";
}

.flaticon-liquid:before {
	content: "\f110";
}

.flaticon-petals:before {
	content: "\f111";
}

.flaticon-creativity:before {
	content: "\f112";
}

.flaticon-mobile-banking:before {
	content: "\f113";
}

.flaticon-optimization-1:before {
	content: "\f114";
}

.flaticon-software-development:before {
	content: "\f115";
}

.flaticon-mortgage:before {
	content: "\f116";
}

.flaticon-insurance:before {
	content: "\f117";
}

.flaticon-branding-1:before {
	content: "\f118";
}

.flaticon-artificial-intelligence:before {
	content: "\f119";
}

.flaticon-ml:before {
	content: "\f11a";
}

.flaticon-chip:before {
	content: "\f11b";
}

.flaticon-triangle:before {
	content: "\f11c";
}

.flaticon-cross:before {
	content: "\f11d";
}

.flaticon-target:before {
	content: "\f11e";
}

.flaticon-goal-1:before {
	content: "\f11f";
}

.flaticon-robot-arm-1:before {
	content: "\f120";
}

.flaticon-ufo:before {
	content: "\f121";
}

.flaticon-tools:before {
	content: "\f122";
}

.flaticon-settings:before {
	content: "\f123";
}

.flaticon-tools-1:before {
	content: "\f124";
}

.flaticon-gem:before {
	content: "\f125";
}

.flaticon-gems:before {
	content: "\f126";
}

.flaticon-sugar-cubes:before {
	content: "\f127";
}

.flaticon-atom:before {
	content: "\f128";
}

.flaticon-flash:before {
	content: "\f129";
}

.flaticon-thunder:before {
	content: "\f12a";
}

.flaticon-coding:before {
	content: "\f12b";
}

.flaticon-web-design:before {
	content: "\f12c";
}

.flaticon-coding-1:before {
	content: "\f136";
}

.flaticon-seo:before {
	content: "\f12d";
}

.flaticon-seo-1:before {
	content: "\f12e";
}

.flaticon-app-development:before {
	content: "\f12f";
}

.flaticon-mobile-application:before {
	content: "\f130";
}

.flaticon-ux-design:before {
	content: "\f131";
}

.flaticon-back:before {
	content: "\f132";
}

.flaticon-next:before {
	content: "\f133";
}

.flaticon-rate:before {
	content: "\f134";
}

.flaticon-folder-management:before {
	content: "\f135";
}

.flaticon-bulb:before {
	content: "\f137";
}

.flaticon-time-management:before {
	content: "\f138";
}

.flaticon-working-hours:before {
	content: "\f139";
}

.flaticon-customer-behavior:before {
	content: "\f13a";
}

.flaticon-certification:before {
	content: "\f13b";
}

.flaticon-condition:before {
	content: "\f13c";
}