.elementor-5843 .elementor-element.elementor-element-5147514 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}
.elementor-5843
  .elementor-element.elementor-element-89476a2
  .elementor-repeater-item-4aa481a
  .slider-item-bg {
  background-color: #02050a;
  background-image: url("../../2023/05/web3.jpg");
}
.elementor-5843
  .elementor-element.elementor-element-89476a2
  .slick-active
  .slider-content
  > * {
  animation-name: slider_animate_up;
}
.elementor-5843
  .elementor-element.elementor-element-89476a2
  .slider-content-wrapper {
  padding: 245px 0px 170px 0px;
}
.elementor-5843
  .elementor-element.elementor-element-89476a2
  > .elementor-widget-container {
  margin: -110px 0px 0px 0px;
}
.elementor-5843 .elementor-element.elementor-element-0039c64 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}
.elementor-5843 .elementor-element.elementor-element-38575a0 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --background-transition: 0.3s;
  --padding-top: 130px;
  --padding-bottom: 130px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-5843
  .elementor-element.elementor-element-38575a0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5843
  .elementor-element.elementor-element-38575a0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-ygency_tertiary);
}
.elementor-5843 .elementor-element.elementor-element-38575a0,
.elementor-5843 .elementor-element.elementor-element-38575a0::before {
  --border-transition: 0.3s;
}
.elementor-5843 .elementor-element.elementor-element-60f1196 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-5843
  .elementor-element.elementor-element-26b6d05
  .ygency-section-title {
  text-align: left;
  margin: 0px 0px 50px 0px;
}
.elementor-5843 .elementor-element.elementor-element-9f18f54 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-5843 .elementor-element.elementor-element-8703d31 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
}
.elementor-5843 .elementor-element.elementor-element-ea4afe0 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-5843
  .elementor-element.elementor-element-e10b24b
  .ygency-counter-box {
  align-items: center;
}
.elementor-5843
  .elementor-element.elementor-element-e10b24b
  .ygency-counter-box
  .counter-icon {
  width: 110px;
  height: 110px;
  font-size: 55px;
  color: var(--e-global-color-ygency_dark);
  background-color: var(--e-global-color-ygency_primary);
}
.elementor-5843
  .elementor-element.elementor-element-e10b24b
  .ygency-counter-box {
  --icon-space: 30px;
}
.elementor-5843
  .elementor-element.elementor-element-e10b24b
  .ygency-counter-box
  .counter-icon
  svg
  * {
  fill: var(--e-global-color-ygency_dark);
}
.elementor-5843
  .elementor-element.elementor-element-e10b24b
  .ygency-counter-box
  .counter-wrap {
  font-size: 62px;
  line-height: 1em;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  -webkit-text-stroke-color: var(--e-global-color-ygency_headline);
  stroke: var(--e-global-color-ygency_headline);
  color: var(--e-global-color-ygency_headline);
  margin-bottom: 10px;
}
.elementor-5843
  .elementor-element.elementor-element-e10b24b
  .ygency-counter-box
  .counter-title {
  color: var(--e-global-color-ygency_body);
  font-weight: 400;
}
.elementor-5843 .elementor-element.elementor-element-53b4be7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-5843
  .elementor-element.elementor-element-50ad8a0
  .ygency-counter-box {
  align-items: center;
}
.elementor-5843
  .elementor-element.elementor-element-50ad8a0
  .ygency-counter-box
  .counter-icon {
  width: 110px;
  height: 110px;
  font-size: 55px;
  color: var(--e-global-color-ygency_dark);
  background-color: var(--e-global-color-ygency_primary);
}
.elementor-5843
  .elementor-element.elementor-element-50ad8a0
  .ygency-counter-box {
  --icon-space: 30px;
}
.elementor-5843
  .elementor-element.elementor-element-50ad8a0
  .ygency-counter-box
  .counter-icon
  svg
  * {
  fill: var(--e-global-color-ygency_dark);
}
.elementor-5843
  .elementor-element.elementor-element-50ad8a0
  .ygency-counter-box
  .counter-wrap {
  font-size: 62px;
  line-height: 1em;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  -webkit-text-stroke-color: var(--e-global-color-ygency_headline);
  stroke: var(--e-global-color-ygency_headline);
  color: var(--e-global-color-ygency_headline);
  margin-bottom: 10px;
}
.elementor-5843
  .elementor-element.elementor-element-50ad8a0
  .ygency-counter-box
  .counter-title {
  color: var(--e-global-color-ygency_body);
  font-weight: 400;
}
.elementor-5843 .elementor-element.elementor-element-2a53352 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-5843
  .elementor-element.elementor-element-d1c5c47
  .ygency-counter-box {
  align-items: center;
}
.elementor-5843
  .elementor-element.elementor-element-d1c5c47
  .ygency-counter-box
  .counter-icon {
  width: 110px;
  height: 110px;
  font-size: 55px;
  color: var(--e-global-color-ygency_dark);
  background-color: var(--e-global-color-ygency_primary);
}
.elementor-5843
  .elementor-element.elementor-element-d1c5c47
  .ygency-counter-box {
  --icon-space: 30px;
}
.elementor-5843
  .elementor-element.elementor-element-d1c5c47
  .ygency-counter-box
  .counter-icon
  svg
  * {
  fill: var(--e-global-color-ygency_dark);
}
.elementor-5843
  .elementor-element.elementor-element-d1c5c47
  .ygency-counter-box
  .counter-wrap {
  font-size: 62px;
  line-height: 1em;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  -webkit-text-stroke-color: var(--e-global-color-ygency_headline);
  stroke: var(--e-global-color-ygency_headline);
  color: var(--e-global-color-ygency_headline);
  margin-bottom: 10px;
}
.elementor-5843
  .elementor-element.elementor-element-d1c5c47
  .ygency-counter-box
  .counter-title {
  color: var(--e-global-color-ygency_body);
  font-weight: 400;
}
.elementor-5843 .elementor-element.elementor-element-8f619a9 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 130px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-5843
  .elementor-element.elementor-element-a8d5302
  .ygency-video
  .ygency-image {
  height: 570px;
}
.elementor-5843
  .elementor-element.elementor-element-a8d5302
  .ygency-video
  .ygency-image::after {
  background-color: var(--e-global-color-ygency_dark);
}
.elementor-5843
  .elementor-element.elementor-element-a8d5302
  .ygency-video
  .ygency-image::after {
  opacity: 0.5;
}
.elementor-5843 .elementor-element.elementor-element-a8d5302 .ygency-video {
  justify-content: center;
}
.elementor-5843 .elementor-element.elementor-element-3a4f581 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}
.elementor-5843 .elementor-element.elementor-element-ba4e41f {
  --display: flex;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
  --padding-top: 130px;
  --padding-bottom: 130px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-5843
  .elementor-element.elementor-element-ba4e41f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5843
  .elementor-element.elementor-element-ba4e41f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-ygency_tertiary);
}
.elementor-5843 .elementor-element.elementor-element-ba4e41f,
.elementor-5843 .elementor-element.elementor-element-ba4e41f::before {
  --border-transition: 0.3s;
}
.elementor-5843
  .elementor-element.elementor-element-b2aebe4
  .ygency-section-title {
  text-align: center;
  margin: 0px 0px 20px 0px;
  padding: 0px 15px 0px 15px;
}
.elementor-5843 .elementor-element.elementor-element-b2aebe4 {
  width: var(--container-widget-width, 60%);
  max-width: 60%;
  --container-widget-width: 60%;
  --container-widget-flex-grow: 0;
}
.elementor-5843 .elementor-element.elementor-element-790f2b2 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --background-transition: 0.3s;
}
.elementor-5843 .elementor-element.elementor-element-f22d25b .ygency-info-box {
  align-items: center;
  margin: 50px 0px 0px 0px;
}
.elementor-5843
  .elementor-element.elementor-element-f22d25b
  .ygency-info-box
  .box-title {
  align-items: center;
  font-size: 24px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-width: 0px;
}
.elementor-5843
  .elementor-element.elementor-element-f22d25b
  .ygency-info-box
  .box-icon {
  font-size: 65px;
}
.elementor-5843 .elementor-element.elementor-element-f22d25b .ygency-info-box {
  --icon-space: 25px;
}
.elementor-5843
  .elementor-element.elementor-element-f22d25b
  .ygency-info-box
  .description {
  color: #ffffffa6;
}
.elementor-5843
  .elementor-element.elementor-element-f22d25b
  > .elementor-widget-container {
  padding: 0px 15px 0px 15px;
}
.elementor-5843 .elementor-element.elementor-element-f22d25b {
  width: var(--container-widget-width, 32%);
  max-width: 32%;
  --container-widget-width: 32%;
  --container-widget-flex-grow: 0;
}
.elementor-5843 .elementor-element.elementor-element-a78c624 .ygency-info-box {
  align-items: center;
  margin: 50px 0px 0px 0px;
}
.elementor-5843
  .elementor-element.elementor-element-a78c624
  .ygency-info-box
  .box-title {
  align-items: center;
  font-size: 24px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-width: 0px;
}
.elementor-5843
  .elementor-element.elementor-element-a78c624
  .ygency-info-box
  .box-icon {
  font-size: 65px;
}
.elementor-5843 .elementor-element.elementor-element-a78c624 .ygency-info-box {
  --icon-space: 25px;
}
.elementor-5843
  .elementor-element.elementor-element-a78c624
  .ygency-info-box
  .description {
  color: #ffffffa6;
}
.elementor-5843
  .elementor-element.elementor-element-a78c624
  > .elementor-widget-container {
  padding: 0px 15px 0px 15px;
}
.elementor-5843 .elementor-element.elementor-element-a78c624 {
  width: var(--container-widget-width, 32%);
  max-width: 32%;
  --container-widget-width: 32%;
  --container-widget-flex-grow: 0;
}
.elementor-5843 .elementor-element.elementor-element-f1c0c8d .ygency-info-box {
  align-items: center;
  margin: 50px 0px 0px 0px;
}
.elementor-5843
  .elementor-element.elementor-element-f1c0c8d
  .ygency-info-box
  .box-title {
  align-items: center;
  font-size: 24px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-width: 0px;
}
.elementor-5843
  .elementor-element.elementor-element-f1c0c8d
  .ygency-info-box
  .box-icon {
  font-size: 65px;
}
.elementor-5843 .elementor-element.elementor-element-f1c0c8d .ygency-info-box {
  --icon-space: 25px;
}
.elementor-5843
  .elementor-element.elementor-element-f1c0c8d
  .ygency-info-box
  .description {
  color: #ffffffa6;
}
.elementor-5843
  .elementor-element.elementor-element-f1c0c8d
  > .elementor-widget-container {
  padding: 0px 15px 0px 15px;
}
.elementor-5843 .elementor-element.elementor-element-f1c0c8d {
  width: var(--container-widget-width, 32%);
  max-width: 32%;
  --container-widget-width: 32%;
  --container-widget-flex-grow: 0;
}
.elementor-5843 .elementor-element.elementor-element-56f4464 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 130px;
  --padding-bottom: 130px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-5843
  .elementor-element.elementor-element-224dcf3
  .ygency-section-title {
  text-align: left;
}
.elementor-5843
  .elementor-element.elementor-element-224dcf3
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-5843
  .elementor-element.elementor-element-084d652
  > .elementor-widget-container {
  padding: 0px 180px 0px 0px;
}
.elementor-5843 .elementor-element.elementor-element-9fb271f {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 130px;
  --padding-bottom: 130px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-5843 .elementor-element.elementor-element-9fb271f.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-5843 .elementor-element.elementor-element-2f81a10 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --flex-wrap: nowrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
  --z-index: 2;
}
.elementor-5843
  .elementor-element.elementor-element-8321b06
  .ygency-section-title {
  text-align: center;
  margin: 0px 0px 60px 0px;
}
.elementor-5843
  .elementor-element.elementor-element-8321b06
  > .elementor-widget-container {
  margin: 0px 0px -50px 0px;
}
.elementor-5843
  .elementor-element.elementor-element-f4c7460
  .ygency-team-members {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}
.elementor-5843
  .elementor-element.elementor-element-f4c7460
  .ygency-team-member
  .member-image {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 7px 7px 7px 7px;
  border-color: var(--e-global-color-ygency_primary);
}
.elementor-5843 .elementor-element.elementor-element-3b02a5f {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 130px;
  --padding-bottom: 130px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-5843 .elementor-element.elementor-element-ec5e700 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --gap: 35px 35px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 70px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-5843
  .elementor-element.elementor-element-add2ea8
  .ygency-section-title {
  text-align: left;
}
.elementor-5843
  .elementor-element.elementor-element-04a577c
  .ygency-button-wrapper {
  text-align: left;
}
.elementor-5843 .elementor-element.elementor-element-04a577c .ygency-button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-ygency_primary);
  color: var(--e-global-color-ygency_dark);
  background-color: var(--e-global-color-ygency_primary);
}
.elementor-5843
  .elementor-element.elementor-element-04a577c
  .ygency-button
  svg {
  fill: var(--e-global-color-ygency_dark);
}
.elementor-5843
  .elementor-element.elementor-element-04a577c
  .ygency-button:hover {
  color: var(--e-global-color-ygency_primary);
}
.elementor-5843
  .elementor-element.elementor-element-04a577c
  .ygency-button:hover
  svg {
  fill: var(--e-global-color-ygency_primary);
}
.elementor-5843
  .elementor-element.elementor-element-04a577c
  .ygency-button:before,
.elementor-5843
  .elementor-element.elementor-element-04a577c
  .ygency-button:after {
  background-color: var(--e-global-color-ygency_dark);
}
.elementor-5843
  .elementor-element.elementor-element-9df5dcc
  .ygency-post-boxes {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.elementor-5843 .elementor-element.elementor-element-9df5dcc .ygency-post-box {
  padding: 20px 20px 20px 20px;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: var(--e-global-color-ygency_tertiary);
  background-color: var(--e-global-color-ygency_tertiary);
  text-align: start;
}
.elementor-5843
  .elementor-element.elementor-element-9df5dcc
  .ygency-post-box:hover {
  border-color: var(--e-global-color-ygency_primary);
}
.elementor-5843 .elementor-element.elementor-element-9df5dcc .post-content {
  padding: 20px 20px 20px 35px;
}
.elementor-5843
  .elementor-element.elementor-element-9df5dcc
  .ygency-post-box
  .post-content {
  align-items: start;
}
.elementor-5843 .elementor-element.elementor-element-9df5dcc .post-thumbnail {
  --thumb-gap: 0px;
}
.elementor-5843 .elementor-element.elementor-element-9df5dcc .post-title {
  font-size: 22px;
}
.elementor-5843 .elementor-element.elementor-element-9df5dcc .divider {
  margin: 10px 0;
  height: 0px;
}
.elementor-5843 .elementor-element.elementor-element-9df5dcc .read-more {
  margin-top: 30px;
}
.elementor-5843
  .elementor-element.elementor-element-9df5dcc
  > .elementor-widget-container {
  padding: 0px 15px 0px 15px;
}
@media (min-width: 768px) {
  .elementor-5843 .elementor-element.elementor-element-0039c64 {
    --content-width: 1780px;
  }
  .elementor-5843 .elementor-element.elementor-element-60f1196 {
    --width: 50%;
  }
  .elementor-5843 .elementor-element.elementor-element-9f18f54 {
    --width: 50%;
  }
  .elementor-5843 .elementor-element.elementor-element-ea4afe0 {
    --width: 33.3333%;
  }
  .elementor-5843 .elementor-element.elementor-element-53b4be7 {
    --width: 33.3333%;
  }
  .elementor-5843 .elementor-element.elementor-element-2a53352 {
    --width: 33.3333%;
  }
  .elementor-5843 .elementor-element.elementor-element-3a4f581 {
    --content-width: 1780px;
  }
  .elementor-5843 .elementor-element.elementor-element-56f4464 {
    --content-width: 1040px;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .elementor-5843 .elementor-element.elementor-element-56f4464 {
    --content-width: 900px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5843 .elementor-element.elementor-element-60f1196 {
    --width: 80%;
  }
  .elementor-5843 .elementor-element.elementor-element-9f18f54 {
    --width: 80%;
  }
  .elementor-5843 .elementor-element.elementor-element-ea4afe0 {
    --width: 50%;
  }
  .elementor-5843 .elementor-element.elementor-element-53b4be7 {
    --width: 45%;
  }
  .elementor-5843 .elementor-element.elementor-element-2a53352 {
    --width: 50%;
  }
  .elementor-5843 .elementor-element.elementor-element-56f4464 {
    --content-width: 700px;
  }
}
@media (max-width: 1366px) {
  .elementor-5843 .elementor-element.elementor-element-b2aebe4 {
    --container-widget-width: 65%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 65%);
    max-width: 65%;
  }
  .elementor-5843
    .elementor-element.elementor-element-9df5dcc
    .ygency-post-box {
    padding: 20px 20px 20px 20px;
  }
  .elementor-5843 .elementor-element.elementor-element-9df5dcc .post-content {
    padding: 15px 15px 15px 30px;
  }
}
@media (max-width: 1200px) {
  .elementor-5843
    .elementor-element.elementor-element-e10b24b
    .ygency-counter-box
    .counter-icon {
    width: 90px;
    height: 90px;
    font-size: 45px;
  }
  .elementor-5843
    .elementor-element.elementor-element-e10b24b
    .ygency-counter-box
    .counter-wrap {
    font-size: 52px;
  }
  .elementor-5843
    .elementor-element.elementor-element-e10b24b
    .ygency-counter-box
    .counter-title {
    font-size: 16px;
  }
  .elementor-5843
    .elementor-element.elementor-element-50ad8a0
    .ygency-counter-box
    .counter-icon {
    width: 90px;
    height: 90px;
    font-size: 45px;
  }
  .elementor-5843
    .elementor-element.elementor-element-50ad8a0
    .ygency-counter-box
    .counter-wrap {
    font-size: 52px;
  }
  .elementor-5843
    .elementor-element.elementor-element-50ad8a0
    .ygency-counter-box
    .counter-title {
    font-size: 16px;
  }
  .elementor-5843
    .elementor-element.elementor-element-d1c5c47
    .ygency-counter-box
    .counter-icon {
    width: 90px;
    height: 90px;
    font-size: 45px;
  }
  .elementor-5843
    .elementor-element.elementor-element-d1c5c47
    .ygency-counter-box
    .counter-wrap {
    font-size: 52px;
  }
  .elementor-5843
    .elementor-element.elementor-element-d1c5c47
    .ygency-counter-box
    .counter-title {
    font-size: 16px;
  }
  .elementor-5843
    .elementor-element.elementor-element-a8d5302
    .ygency-video
    .popup-video {
    width: 80px;
    height: 80px;
  }
  .elementor-5843 .elementor-element.elementor-element-f22d25b {
    --container-widget-width: 33%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 33%);
    max-width: 33%;
  }
  .elementor-5843 .elementor-element.elementor-element-a78c624 {
    --container-widget-width: 33%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 33%);
    max-width: 33%;
  }
  .elementor-5843 .elementor-element.elementor-element-f1c0c8d {
    --container-widget-width: 33%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 33%);
    max-width: 33%;
  }
  .elementor-5843
    .elementor-element.elementor-element-9df5dcc
    .ygency-post-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .elementor-5843 .elementor-element.elementor-element-9df5dcc .post-thumbnail {
    width: 200px;
  }
  .elementor-5843 .elementor-element.elementor-element-9df5dcc .post-title {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .elementor-5843
    .elementor-element.elementor-element-89476a2
    .slider-content-wrapper {
    padding: 220px 0px 160px 0px;
  }
  .elementor-5843
    .elementor-element.elementor-element-89476a2
    > .elementor-widget-container {
    margin: -100px 0px 0px 0px;
  }
  .elementor-5843 .elementor-element.elementor-element-38575a0 {
    --flex-direction: column-reverse;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 50px 50px;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-5843 .elementor-element.elementor-element-8703d31 {
    --justify-content: center;
  }
  .elementor-5843 .elementor-element.elementor-element-2a53352 {
    --margin-top: 45px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-5843 .elementor-element.elementor-element-8f619a9 {
    --padding-top: 100px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-5843
    .elementor-element.elementor-element-a8d5302
    .ygency-video
    .ygency-image {
    height: 480px;
  }
  .elementor-5843
    .elementor-element.elementor-element-a8d5302
    .ygency-video
    .popup-video {
    font-size: 15px;
  }
  .elementor-5843 .elementor-element.elementor-element-b2aebe4 {
    --container-widget-width: 80%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 80%);
    max-width: 80%;
  }
  .elementor-5843 .elementor-element.elementor-element-790f2b2 {
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --gap: 0px 0px;
    --flex-wrap: wrap;
  }
  .elementor-5843 .elementor-element.elementor-element-f22d25b {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
  }
  .elementor-5843 .elementor-element.elementor-element-a78c624 {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
  }
  .elementor-5843 .elementor-element.elementor-element-f1c0c8d {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
  }
  .elementor-5843 .elementor-element.elementor-element-56f4464 {
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-5843 .elementor-element.elementor-element-9fb271f {
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-5843
    .elementor-element.elementor-element-f4c7460
    .ygency-team-members {
    grid-template-columns: repeat(2, 1fr);
  }
  .elementor-5843 .elementor-element.elementor-element-3b02a5f {
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-5843 .elementor-element.elementor-element-ec5e700 {
    --margin-top: 0px;
    --margin-bottom: 60px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-5843
    .elementor-element.elementor-element-9df5dcc
    .ygency-post-boxes {
    grid-template-columns: repeat(1, 1fr);
  }
  .elementor-5843 .elementor-element.elementor-element-9df5dcc .post-content {
    padding: 15px 15px 15px 35px;
  }
}
@media (max-width: 767px) {
  .elementor-5843
    .elementor-element.elementor-element-89476a2
    .slider-content-wrapper {
    padding: 180px 0px 160px 0px;
  }
  .elementor-5843 .elementor-element.elementor-element-53b4be7 {
    --margin-top: 45px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-5843
    .elementor-element.elementor-element-a8d5302
    .ygency-video
    .ygency-image {
    height: 380px;
  }
  .elementor-5843
    .elementor-element.elementor-element-a8d5302
    .ygency-video
    .popup-video {
    width: 60px;
    height: 60px;
  }
  .elementor-5843
    .elementor-element.elementor-element-b2aebe4
    .ygency-section-title {
    margin: 0px 0px 10px 0px;
  }
  .elementor-5843 .elementor-element.elementor-element-b2aebe4 {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
  .elementor-5843
    .elementor-element.elementor-element-f22d25b
    .ygency-info-box
    .box-icon {
    font-size: 55px;
  }
  .elementor-5843
    .elementor-element.elementor-element-f22d25b
    .ygency-info-box
    .box-title {
    font-size: 20px;
  }
  .elementor-5843 .elementor-element.elementor-element-f22d25b {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
  .elementor-5843
    .elementor-element.elementor-element-a78c624
    .ygency-info-box
    .box-icon {
    font-size: 55px;
  }
  .elementor-5843
    .elementor-element.elementor-element-a78c624
    .ygency-info-box
    .box-title {
    font-size: 20px;
  }
  .elementor-5843 .elementor-element.elementor-element-a78c624 {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
  .elementor-5843
    .elementor-element.elementor-element-f1c0c8d
    .ygency-info-box
    .box-icon {
    font-size: 55px;
  }
  .elementor-5843
    .elementor-element.elementor-element-f1c0c8d
    .ygency-info-box
    .box-title {
    font-size: 20px;
  }
  .elementor-5843 .elementor-element.elementor-element-f1c0c8d {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
  .elementor-5843 .elementor-element.elementor-element-56f4464 {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-left: 16px;
    --padding-right: 16px;
  }
  .elementor-5843
    .elementor-element.elementor-element-084d652
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-5843
    .elementor-element.elementor-element-f4c7460
    .ygency-team-members {
    grid-template-columns: repeat(1, 1fr);
  }
  .elementor-5843
    .elementor-element.elementor-element-f4c7460
    .ygency-team-member
    .member-image {
    width: 250px;
    height: 63vw;
    max-height: 300px;
  }
  .elementor-5843
    .elementor-element.elementor-element-f4c7460.elementor-element {
    --align-self: center;
  }
  .elementor-5843 .elementor-element.elementor-element-9df5dcc .post-content {
    padding: 35px 20px 10px 20px;
  }
  .elementor-5843 .elementor-element.elementor-element-9df5dcc .post-thumbnail {
    width: 100%;
  }
}
