@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.containerPage{
    flex-direction: column;
    padding: 0 1rem;
}

.textBlack{
    color: black !important;
}

.goldContainer{
    position: absolute;
    left: 0;
    top: 0;  
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 0;
    background-image: url('../uploads/2024/10/newgif.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.6;
}

.noneMargin{
    margin: 0 !important;
}

.topPage{
    margin-bottom: 50px;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
 

.goldContainer.v2{
    background-image: url('../uploads/2024/10/bg2.gif');
    
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.z10{
    z-index: 10;
}

.navbar{
    width: 100%;
    height: auto;
    padding: 20px 0;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
    margin-bottom: 2rem;
    gap: 2rem;
}

.navbar li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.navbar li a{
    color: black;
    cursor: pointer;
    text-decoration: underline;

    font-size: 1em;
    font-family: "Press Start 2P", system-ui;

    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.navbar li:hover a{
    color: white;
}

.navbar li img{
    height: 40px;
    width: auto;
    object-fit: contain;
}


/* about */
.about{
    width: 100%;
    height: auto;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    
      font-family: "Press Start 2P", system-ui;  font-family: "Press Start 2P", system-ui;  font-family: "Press Start 2P", system-ui;font-family: "Press Start 2P", system-ui;

    font-weight: bold;
}

.wfullInMobile{
    width: 50%;
    min-width: 200px;
}

.aboutThisWeb{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.about .col{
    width: 30%;
    min-width: 380px;
    max-width: 90%;

    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}

.about .title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about .title span{
    color: black;
    font-size: 1.7em;

    /* letter-spacing: -1px; */
}

.about .title img{
    height: 50px;
    width: auto;
    object-fit: contain;
}

.aboutThis{
    color: black;
    font-size: .7em;
    line-height: 1;
    letter-spacing: .2px;
    
    display: flex; 
    align-items: start;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    /* navbar */
    .navbar li{
        gap: 1rem;
    }

    .navbar li a{
        font-size:.7em; 
    }

    
    .navbar li img{
        height: 30px; 
    }

    
    /* about */
    .about .col{
        width: 80%;
        min-width: 100%;

        padding: 0 1rem;

        align-items: center;
    }
 
    .about .title span{ 
        font-size: 5vw;
    }

    .aboutThis{
        font-size: .6em;
    }

    
    .wfullInMobile,
    .aboutThisWeb{
        width: 100% !important; 
        max-width: 100% !important; 
        min-width: 100%;
    }

    .topPage section{
        width: 100%;
    }
    
    .about .title img{
        height: 30px;
        width: auto;
        object-fit: contain;
    }
 
/*   <div class="goldContainer">
                                 
                              </div> */
    .maxWContainerMobile{
        max-width: 100% !important;
 
        width: 260px !important;

        padding: 0 2rem;
    }

    .fontMedium{
        font-size: .85em !important;
    }

    .maxWContainerMobile span.z10{
        width: 80%;
        font-size: .5rem !important;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
}

/* animation */
.rotateImg{
    animation: rotateImg 10s infinite linear;
    -webkit-animation: rotateImg 10s infinite linear;
}

@keyframes rotateImg {
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}